<assembly>
    <id>tarball</id>
    <includeBaseDirectory>true</includeBaseDirectory>

    <dependencySets>
        <dependencySet>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <excludes>
                <!-- forcefully exclude Guava to avoid conflicts with other versions -->
                <exclude>com.google.guava:guava</exclude>
            </excludes>
        </dependencySet>
    </dependencySets>

    <fileSets>
        <fileSet>
            <includes>
                <include>LICENSE*</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>src/main/docs</directory>
            <outputDirectory></outputDirectory>
            <filtered>true</filtered>
        </fileSet>
        <fileSet>
            <directory>src/main/defaults</directory>
            <outputDirectory></outputDirectory>
            <includes>
                <include>*.properties</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>
